.offer {
    display: flex;
    /* justify-content: space-between; */
    background-color: orange;
    color: rgb(2, 0, 0);
    padding: 10px 5px;
    /* text-align: center; */
    align-items: center;
    font-size: xx-small;
    gap: 10px;


}


.offer button{
    background: red;
    border: none;
}
.offer h1{
    margin-left: 250px;
    
}

.navbar{
    background: rgb(18, 18, 18);
    /* block-size: 80px; */
    /* align-items: center; */
    height: 80px;
    display: flex;
}
.navbar .navList
{
 
}
.navbar .navList ul

{   
    display: flex;
    color: white;
    padding: 5px;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-left: 50cap;
    padding: 15px 15px;
    
}
.navList li a{
text-decoration: none;
color: white;

}
html,body{
    margin: 0;
    padding: 0;

}


